html, body{min-height:100%;}
body{height:100%}

body{
    font-weight: 400;
    background-image: linear-gradient(135deg,#99b6c6 14%,#bcd8e5 78%);
}

h1{
    font-weight: 700;
    padding-top: 15px;
}

.display-5{
    font-weight: 600;
    color: #394248;
}

.hataBilgisi {
    font-size: 14px;
    font-weight: 500;
    color: brown;
    font-style: italic;
}

.btn-primary{
    background-color: #3A4349;
    border: none;
    border-radius: 0;
    padding-right: 5%;
}
.btn-primary:hover{
    background-color: #9CC8F5;
}
.btn-primary:focus{
    background-color: #3A4349;
}

.btn-secondary{
    border: none;
    border-radius: 0;
    padding-right: 5%;
}

.gradient-custom {

    background-color: #8EC5FC;
    background-image: linear-gradient(135deg,#99b6c6 14%,#bcd8e5 78%); 
}




