h1{
    margin: 15px 0 15px 0;
}

.hataBilgisiIsim {
    font-size: 14px;
    color: brown;
    font-style: italic;
}

.hataBilgisiMail {
    font-size: 14px;
    color: brown;
    font-style: italic;
}